<!doctype html>
<html>
  
  <head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">DaniaL's Node App</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li>
                <a href="/">Home</a> 
              </li>
              <li class="active">
                <a href="/about">About</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="align-left">About Danial</h1>
      <h3>Contact Information :</h3>
      <p>Email : dani_khosravi@yahoo.com</p>
      <div>Twitter : @Danial-KH</div>
      <div>Blog : danialk.github.com</div>
      <p></p>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>